body {
  font-family: "Pacifico", cursive;
  background-color: #000000;
  color: #ffccbc;
}

.title-box {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.second-title {
  font-size: 35px;
  cursor: pointer;
  color: azure;
}

.icons {
  margin-top: 50px;
  transition: transform .7s;
}

.icons:hover {
  transform: rotate(25deg);
}

.enter:hover {
  cursor: pointer;
  color: #ff5252;
  font-size: 45px;
}

.h1 {
  font-family: "Pacifico", cursive;
  font-size: 80px;
  color: #f26522;
}